<img id="header-image" src="https://m.media-amazon.com/images/I/710PqpAtCuL.jpg">
<h1>

    <a href="index.html">Project JP4S</a>
    <button id="mobile-drawer-button-open">
        <img src="resources/icons/menu.svg" alt="Drawer">
    </button>
</h1>
<nav id="drawer">
    <button id="mobile-drawer-button-close"><img src="resources/icons/close.svg" alt="Close"></button>
    <br> <br>
    <a href="index.html">Homepage</a>
    <a href="dev-road.html">Development Roadmap</a>
    <a href="kanban-board.html">Kanban Board</a>
    <a href="questions-answers.html">Questions & Answers</a>
    <a href="promo-content.html">Promotional Content</a>
    <a href="about-me.html">About Me</a>
    <a href="https://discord.gg/uKVkpbKXAA">Join our Discord Server!</a>
</nav>
<nav id="navbar">
    <a href="index.html">Homepage</a>
    <a href="dev-road.html">Development Roadmap</a>
    <a href="kanban-board.html">Kanban Board</a>
    <a href="questions-answers.html">Questions & Answers</a>
    <a href="promo-content.html">Promotional Content</a>
    <a href="about-me.html">About Me</a>
    <a href="https://discord.gg/uKVkpbKXAA">Join our Discord Server!</a>
</nav>